<%= form_tag login_path do %>
  <h1>Please sign in</h1>

  <% if flash[:error] %>
    <div>
      <%= flash[:error]%>
    </div>
  <% end %>
    <%= label_tag :email,nil %>
    <%= email_field_tag :email,nil, :placeholder => 'Email address'%>
    <%= label_tag :password %>
    <%= password_field_tag :password, nil, :placeholder => 'Password' %>

  <%= submit_tag "Log In", :class => 'btn btn-lg btn-primary btn-block'%>
  <p>© 2019</p >
<% end %>
