<div class="<%= controller_name %>">
<% if @current_user.present? %>

  <h2>All Animations:</h2>


      <% @animations.each do |animation| %>
        <div class="index-animation-grid">
      <%= image_tag(animation.image,:alt => animation.name, :class => 'animation_thumbnail') %>
        <%= link_to (animation.name), animation_path(animation), :class => 'animation_name'%>
        <%= button_to "Add to My Animation", add_animation_path(animation.id), :class => 'animation_thumbnail', :method => 'get' %>
        <br />
        </div>
      <% end %>


  <%= button_to "Back", root_path, :method => :get %>

<% else %>
  <div>
    <h1>Welcome to MangaStore</h1>
    <p>© 2019</p >
  </div>
</div>
<% end %>
