<div class="<%= controller_name %>">
<%= form_for @user do |f| %>
  <h1>Please sign up </h1>
  <% if flash[:error] %>
    <div>
      <%= flash[:error]%>
    </div>
  <% end %>
  <div class="loginWrapper">
    <%= f.label :email%>
    <%= f.email_field :email, :class =>'email', :placeholder => 'Email address'%>
  </div>

  <div class="lohinWrapper">
    <%= f.label :password %>
    <%= f.password_field :password, :class =>'password', :placeholder => 'Password' %>
  </div>

  <div class="loginWrapper">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, :class =>'password_confirmation', :placeholder => 'Password' %>
  </div>


  <%= f.submit "Sign Up Now", :class =>' signbtn btn btn-lg btn-primary btn-block' %>
<% end %>
</div>
