<!DOCTYPE html>
<html>
  <head>
    <title>ProjectManga</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'blackpaw.ico' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <nav class="nav justify-content-end">
      <ul class="nav nav-pills">
        <li class="nav-item">
        <%= link_to 'Home', root_path %>
        </li>
        <% if @current_user.present? %>
        <li class="nav-item">
          <%= link_to "Sign out", login_path, :method => 'delete' %>
        </li>
          <li class="nav-item"><%= @current_user.email %></li>
        <% else %>
          <li><%= link_to 'Sign up', new_user_path, :class => "btn-signup"  %></li>
          <li><%= link_to 'Sign in', login_path, :class => "btn-login"%></li>
        <% end %>
      </ul>
      </nav>
      <%= yield %>
    </div>
  </body>
</html>
